<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>API-RUCHERS</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel='stylesheet' href='css/fonts.css'>
        <link rel="stylesheet" href="css/leaflet.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/autocomplete.css" />
        <link rel="stylesheet" href="css/angular-material.min.css" />
        <link rel="stylesheet" href="assets/app.css" />
        <link rel="stylesheet" href="css/angular-chart.css">
        
    </head>

    <body ng-app="adresseTestApp" layout="column" ng-controller="appNavigationController">

    <md-toolbar layout="row" md-scroll-shrink="true">
    <img src="css/images/logo-gouv.png" width="82px" height="85px"/>
        <!--<md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show Menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>-->
        <span flex></span>
        <h1><span data-ng-click="gotoStart()" class="cursor-hand"><img src="assets/svg/bee.svg" width="82px" height="50px"/> API-RUCHERS</span></h1>
        <span flex></span>
        <france-connect-info></france-connect-info>
        <france-connect-link></france-connect-link>

    </md-toolbar>
    
<md-content ng-view md-scroll-y flex layout-padding></md-content>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib//angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-material.min.js"></script>
    <script src="js/lib/leaflet.js"></script>
    <script src="js/lib/angular-leaflet-directive.min.js"></script>
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/lib/angular-cookie-1.0.0/angular-cookie.min.js"></script>
    <script src="bower_components/Chart.js/Chart.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="js/lib/angular-material-icons.min.js"></script> 

    <script src="js/app.js"></script>
    <script src="js/franceConnectModule.js"></script>
    <script src="js/app-navigation.js"></script>
    <script src="js/autocomplete.js"></script>
    <script src="js/adresse-controller.js"></script>
    <script src="js/adresse-validator.js"></script>
    <script src="js/apiculteur.js"></script>
    <script src="js/dashboard.js"></script>

</body>

</html>
