<md-grid-list  md-cols="3" md-gutter="1em" md-row-height="16:9">

<md-grid-tile data-ng-click="gotoDeclaration()" md-rowspan="2">
  <md-grid-tile-header>
    <h3>Mes déclarations</h3>
  </md-grid-tile-header>
  Cliquer pour déclarer mes ruchers
</md-grid-tile>

<md-grid-tile data-ng-click="gotoRucher()" md-rowspan="2">
  <md-grid-tile-header>
    <h3>Mes ruchers</h3>
  </md-grid-tile-header>
  Cliquer pour consulter mes ruchers
</md-grid-tile>

<md-grid-tile data-ng-click="gotoApiculteurInfos()" style="cursor">
  <md-grid-tile-header>
    <h3>Mes Informations</h3>
  </md-grid-tile-header>
  Cliquer pour modifier mes informations personnelles
</md-grid-tile>

<md-grid-tile data-ng-click="gotoSimulate()" style="cursor">
  <md-grid-tile-header>
    <h3>Simuler mes aides</h3>
  </md-grid-tile-header>
  Cliquer pour lancer la simulation de mes aides
</md-grid-tile>

<md-grid-tile data-ng-click="gotoDashboard()" style="cursor">
  <md-grid-tile-header>
    <h3>Tableau de bord</h3>
  </md-grid-tile-header>
  Cliquer pour accéder à mon tableau de bord
</md-grid-tile>

<md-grid-tile data-ng-click="gotoNotif()" style="cursor">
  <md-grid-tile-header>
    <h3>Alertes et Notifications</h3>
  </md-grid-tile-header>
  Aucune notification
</md-grid-tile>

</md-grid-list>