<go-back-directive title="Mes Informations"></go-back-directive> 

<div data-g-controller="apiculteurController">
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Informations générales">
                <md-content class="md-padding">
                    <!--<h1 class="md-display-2">Tab One</h1>-->
                    <p>Nom : {{apiculteurs[0].nom}}</p>
                    <p>Prénom : {{apiculteurs[0].prenom}}</p>
                    <p>Date de naissance : {{apiculteurs[0].dateNaissance}}</p>
                </md-content>
            </md-tab>
            <md-tab label="Identifiants">
                <md-content class="md-padding">
                    <!--<h1 class="md-display-2">Tab Two</h1>-->
                    <table cellspacing='0'>
                        <thead>
                            <tr>
                                <th>
                        <p>Origine</p>    
                        </th>
                        <th>
                        <p>Type d'identifiant</p>    
                        </th>
                        <th>
                        <p>Valeur</p>    
                        </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="identifiant in apiculteurs[0].identifiants">
                                <td>
                                    {{identifiant.origine}}
                                </td>
                                <td>
                                    {{identifiant.typeIdentifiant}}
                                </td>
                                <td>
                                    {{identifiant.valeurIdentifiant}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>
    <br/>
