<go-back-directive title="Mes Ruchers"></go-back-directive> 

<div data-g-controller="apiculteurController">
          
                
    <div layout="row" layout-margin>
        <div flex>
        
            <leaflet defaults="defaults" center="center" height="480px" width="100%" markers="markers" event-broadcast="events">
                <md-button class="md-raised md-primary" data-ng-click="addRucher()" style="z-index:10000;opacity: 0.8;margin-top: 5px;right: 0px;border-right-width: 1px;right: 5px;position: absolute;color: rgb(0, 0, 0);font-weight: bold;border-color: black;" >Géolocaliser mes ruchers</md-button>
            </leaflet>
            
            <table class="responsive-table" width="100%">
                <thead>
                    <tr>
                        <th><p>Année</p></th>
                        <th><p>Nom</p></th>
                        <th><p>Nombre de ruches</p></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rucher in apiculteurs[0].ruchers">
                        <td>{{rucher.annee}}</td>
                        <td>{{rucher.nom}}</td>
                        <td>{{rucher.nbRuches}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
