<md-grid-list
        md-cols-gt-md="6" md-cols-sm="1" md-cols-md="4"
        md-row-height-gt-md="1:1" md-row-height="4:3" md-row-height-sm="6:2"
        md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
        
            <md-grid-tile data-ng-click="gotoRucher()">
        <ng-md-icon icon="location_on"  size="64"></ng-md-icon>
        <md-grid-tile-footer class="bleu-petrole"><h3>Localiser mes ruchers</h3></md-grid-tile-footer>
    </md-grid-tile>

        
    <md-grid-tile data-ng-click="gotoDeclaration()" alt="Cliquer pour déclarer mes ruchers">
           <ng-md-icon icon="assignment"  size="64"></ng-md-icon>
           <md-grid-tile-footer class="bleu-petrole"><h3>Déclarer</h3></md-grid-tile-footer>
    </md-grid-tile>
    
    <md-grid-tile data-ng-click="gotoSimulate()" style="cursor">
        <ng-md-icon icon="attach_money" class="orange-color" size="64"></ng-md-icon>
        <md-grid-tile-footer class="yellow bleu-petrole-font"><h3>Demander mes aides</h3></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile data-ng-click="gotoDashboard()" style="cursor">
        <ng-md-icon icon="dashboard"  size="64"></ng-md-icon>
        <md-grid-tile-footer  class="yellow-darker  bleu-petrole-font"><h3>Voir mon tableau de bord</h3></md-grid-tile-footer>
    </md-grid-tile>
    
    <md-grid-tile data-ng-click="gotoApiculteurInfos()" style="cursor" alt="Cliquer pour modifier mes informations personnelles">
    <ng-md-icon icon="quick_contacts_mail"  size="64"></ng-md-icon>    
    <md-grid-tile-footer class="orange bleu-petrole-font"><h3>Modifier mes Informations</h3></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile data-ng-click="gotoNotif()" style="cursor">
     <ng-md-icon icon="sms"  size="64"></ng-md-icon>
     <md-grid-tile-footer class="orange-darker"><h3>Voir mes Alertes et Notifications</h3></md-grid-tile-footer>
    </md-grid-tile>
    
        <md-grid-tile data-ng-click="gotoTest1()" style="cursor">
    <md-grid-tile-footer><h3>Test 1</h3></md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile data-ng-click="gotoTest2()" style="cursor">
     <md-grid-tile-footer><h3>Test 2</h3></md-grid-tile-footer>
    </md-grid-tile>
    
</md-grid-list>